<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86363784686-f70greb7ncg9mndpml3taf8sgdferffb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86363784686-f70greb7ncg9mndpml3taf8sgdferffb</string>
	<key>API_KEY</key>
	<string>AIzaSyCX1AYshQt4enb8-euOn2b8yfw724hSYBw</string>
	<key>GCM_SENDER_ID</key>
	<string>86363784686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naan</string>
	<key>PROJECT_ID</key>
	<string>naan-70b72</string>
	<key>STORAGE_BUCKET</key>
	<string>naan-70b72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86363784686:ios:09fa497a7527c878387aff</string>
</dict>
</plist>
