<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>naan</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>naan_wallet</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.2.70</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>naanwallet.com</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>naan</string>
					<string>fxhash</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>15</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSBonjourServices</key>
		<array>
			<string>_googlecast._tcp</string>
			<string>com.naan._googlecast._tcp</string>
			<string>_dartobservatory._tcp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>naan requires access to camera for scanning QR</string>
		<key>NSFaceIDUsageDescription</key>
		<string>$(PRODUCT_NAME) Authentication with TouchId or FaceID</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>$(PRODUCT_NAME) uses the local network to discover Cast-enabled devices on your WiFi
			network.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>naan requires acess to microphone.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app requires read and write access to the photo library to upload account
			picture</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires access to the photo library to upload account picture</string>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UISceneConfigurations</key>
			<dict />
		</dict>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiresFullScreen</key>
		<true />
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />

	</dict>
</plist>